<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WhereIsMyPhone?</title>
</head>
<body>
<h1>WhereIsMyPhone Service</h1>
<h3>I found that your phone has been broken into pieces. <br> I'm not sure, but one piece should be somewhere either in:</h3>
<ul>
    {% for phrase in lat_phrase %}
        {% if not forloop.last %}
            <li>{{ phrase }} or</li>
        {% else %}
            <li>{{ phrase }}</li>
        {% endif %}
    {% endfor %}
</ul>
<h3>And another somewhere either in:</h3>
<ul>
    {% for phrase in lon_phrase %}
        {% if not forloop.last %}
            <li>{{ phrase }} or</li>
        {% else %}
            <li>{{ phrase }}</li>
        {% endif %}
    {% endfor %}
</ul>
</body>
</html>